@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

ul {
  list-style-type: none;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

a {
  color: gray;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  background-color: lightgray;
}