/* Add CSS Styling */

.buttons {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.buttons.to-click {
    background-color: black;
    color: white;
}

.buttons.dont-click {
    background-color: yellow;
}